<div class="modal" id="createModal">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">CREAR NUEVA MESA</h2>
      <p style="color: #b0b0b0">Configura tu mesa personalizada</p>
    </div>
    <form class="create-form">
      <div class="form-group">
        <label class="form-label">Nombre de la Mesa</label>
        <input
          type="text"
          class="form-input"
          placeholder="Ej: Mi Mesa VIP"
          required
        />
      </div>

      <div class="modal-actions">
        <button type="button" class="btn-cancel" onclick="">CANCELAR</button>
        <button type="submit" class="btn-confirm">CREAR MESA</button>
      </div>
    </form>
  </div>
</div>
